*/duaIterate/iterations
__pycache__
venv
tmp
medium/results/
medium/sumo/trips.odtrips*
commercial/sumo/trips.odtrips*
commercial/results/*
datasets
commercial/results
commercial/dfrouter/routes.rou.xml
commercial/dfrouter/vehicles.rou.xml
commercial/dfrouter/d-out.add.xml
vkr/My_thesis.aux
vkr/My_thesis.bbl
vkr/My_thesis.bcf
vkr/My_thesis.blg
vkr/My_thesis.log
vkr/My_thesis.out
vkr/My_thesis.run.xml
vkr/My_thesis.synctex.gz
vkr/My_thesis.toc
vkr/en.idx
vkr/ru.idx